input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=number], [type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.input-container {
    align-items: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
}

body {
    background-color: #1A2744;
}

h1, p {
    margin: 0;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #f2f2f2;
    margin-bottom: 20px;
}

.check-doc {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    background-color: #4CAF50;
    padding: 4px 8px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.check-doc:hover {
    background-color: #45a049;
}

.warnings {
    color: #f35050;
    font-size: 16px;
}

.sucess-warnings {
    color: #4CAF50;
    font-size: 16px;
}